html, body {
    width: 100%;
    height: 100%;
}

hr {
    max-width: 100px;
    border-color: #f05f40;
    border-width: 3px;
}

.navbar {
    background: none;
}

.nav-fluid {
    /*background-color: transparent;*/
    background-color: rgba(0,0,0,.2);

}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    /*color: #222;*/
    color: white;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	color: #fff;
	background-image: url(images/old_chicago.jpg);
	background-position: center;
	background-size: cover;
}

header .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
}

header .header-content .header-content-inner h1 {
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.main_page {
    margin-top: 15%;
}

.main_name {
    font-size: 65px;
    display: block;
    text-shadow: 5px 5px 5px rgb(50,50,50);
}

.main_page_button {
    display: inline-block;
    background-color: #f05f40;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 12px;
}

.main_page_button:hover, .main_page_button:focus {
    background-color: #ee4b28
}

.main_page .btn:hover {
    color: white;
} 

header .header-content .header-content-inner hr {
	margin: 30px auto;
}

header .header-content .header-content-inner h3 {
	margin-bottom: 50px;
	font-weight: 300;
	color: rgba(255,255,255,.7);
    font-size: 40px;
}

hr.light {
    border-color: #fff;
}

.bg-primary {
    background-color: #f05f40;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.skill_block {
    margin-top: 15px;
}

#portfolio {
    background-color: #3D555D;
}

.project_page {
    color: white;
}

#contact-me {
    color: cornflowerblue;
}

#contact-me img {
    padding: 5px;
}

.nhra_logo img {
    margin: auto;
    width: 80%;
}

.work_details p {
    color: white;
}

